* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

@import url(https://db.onlinewebfonts.com/c/ba6e4ecb8db31ed7af3882f250c48e4b?family=Want+Coffee);
@font-face {
    font-family: "Want Coffee";
    src: url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.eot");
    src: url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.svg#Want Coffee")format("svg");
}

:root {
    /* color */
    --background-color: #DAA06D;

    /* font */
    --title-font: "Want Coffee";
    --title-font-size: clamp(3rem, 8vw, 8rem);
    --header-font-size: 32px;
}

/* body section */
.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;

    background-image: 
        linear-gradient(rgba(218, 160, 109, 0.9), rgba(218, 160, 109, 0.6)),
        url(assets/coffee-shop-background.jpg);
    background-size: cover; 
    
    background-color: var(--background-color);
}

/* header section */
.header {
    margin: 40px;
}
.header > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.header button {
    font-size: var(--header-font-size);
    font-family: var(--title-font);

    border: none;
    background-color: transparent;
    color: white;
}

/* main page section */
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-page > img {
    width: 60%;
    height: auto;
    border-radius: 12px;
}
.title {
    position: absolute;
    top: 15%;

    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: white;
}

/* home page section */
.home-div {
    width: 100vw;
    height: 100vh;

    background-color: var(--background-color);
}

.home-div > img {
    width: 50%;
    height: 50%;
}