* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

@import url(https://db.onlinewebfonts.com/c/ba6e4ecb8db31ed7af3882f250c48e4b?family=Want+Coffee);
@font-face {
    font-family: "Want Coffee";
    src: url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.eot");
    src: url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ba6e4ecb8db31ed7af3882f250c48e4b.svg#Want Coffee")format("svg");
}

:root {
    /* color */
    --background-color: #DAA06D;
    --secondary-background-color: #EADDCA;
    --darker-background-color: #834333;

    /* font */
    --title-font: "Want Coffee";
    --title-font-size: clamp(3rem, 8vw, 8rem);
    --header-font-size: 32px;
    --smaller-title-font-size: 48px;
    --desc-font-size: clamp(10px, 3vw, 32px);

    /* border */
    --border-radius: 12px;
    --box-shadow: 8px 8px 5px #AE8057;
}

/* body section */
.welcome-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;

    background-image: 
        linear-gradient(rgba(218, 160, 109, 0.9), rgba(218, 160, 109, 0.6)),
        url(assets/coffee-shop-background.jpg);
    background-size: cover; 
    
    background-color: var(--background-color);
}

/* header section */
.header {
    margin: 40px;
}
.header > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.header button {
    font-size: var(--header-font-size);
    font-family: var(--title-font);

    border: none;
    background-color: transparent;
    color: white;
}

/* main page section */
.main-page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-page-div > img {
    width: 60%;
    height: auto;
    border-radius: var(--border-radius);
}
.title {
    position: absolute;
    top: 15%;

    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: white;
}

/* home page section */
.home-div {
    width: 100vw;
    min-height: 100vh;

    background-image: 
        linear-gradient(rgba(218, 160, 109, 0.9), rgba(218, 160, 109, 0.9)),
        url(assets/coffee-shop-background.jpg);
    background-size: cover; 

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.home-div > .img-div {
    grid-column: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
.home-div img {
    width: 50%;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.home-div .desc-div {
    width: 60%;
    align-self: center;
    justify-self: start;
    color: white;
    font-size: var(--desc-font-size);
    font-family: var(--title-font);
}

/* contact section */
.contact-div {
    background-color: var(--darker-background-color);
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin: 20px;
    height: 50vh;
    justify-content: center;
    place-items: center;


    font-family: var(--title-font);
    color: var(--secondary-background-color);
}
.contact-div > .title-div {
    font-size: var(--smaller-title-font-size);
}
.contact-div > .contact-content {
    display: flex;
    flex-direction: column;
    font-size: var(--desc-font-size);
    gap: 32px;
}